.container{
    width: 800px;
    margin:0px auto;
    padding: 10px;
    border-top: 5px black solid;
    background-color: rgb(239, 234, 234);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.flex-item {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content:space-around;
}
img.octocat {
    height: 200px;
}
.box1{
background-color: rgb(127, 255, 153);
}
.box2{
    background-color: rgb(247, 196, 241);
}
.box3{
    background-color: white;
}
